<p id="notice"><%= notice %></p>

<h1>Evaluos</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Activo</th>
      <th>Integer</th>
      <th>Descripcion</th>
      <th>Montoactual</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluos.each do |evaluo| %>
      <tr>
        <td><%= evaluo.tipo %></td>
        <td><%= evaluo.Activo %></td>
        <td><%= evaluo.integer %></td>
        <td><%= evaluo.descripcion %></td>
        <td><%= evaluo.montoactual %></td>
        <td><%= evaluo.fecha %></td>
        <td><%= link_to 'Show', evaluo %></td>
        <td><%= link_to 'Edit', edit_evaluo_path(evaluo) %></td>
        <td><%= link_to 'Destroy', evaluo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluo', new_evaluo_path %>
