<p id="notice"><%= notice %></p>

<h1>Activos</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Fecha</th>
      <th>Sector</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activos.each do |activo| %>
      <tr>
        <td><%= activo.descripcion %></td>
        <td><%= activo.precio %></td>
        <td><%= activo.fecha %></td>
        <td><%= activo.sector %></td>
        <td><%= link_to 'Show', activo %></td>
        <td><%= link_to 'Edit', edit_activo_path(activo) %></td>
        <td><%= link_to 'Destroy', activo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activo', new_activo_path %>
