<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @activo.descripcion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @activo.precio %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @activo.fecha %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @activo.sector %>
</p>

<%= link_to 'Edit', edit_activo_path(@activo) %> |
<%= link_to 'Back', activos_path %>
